inputbar {
    enabled:            true;
    spacing:            var(inputbar-spacing);
    margin:             0px;
    padding:            0px;
    border:             0px;
    border-radius:      0px;
    border-color:       @selected;
    background-color:   transparent;
    text-color:         @foreground;
}

