* {
    font-family: DejaVu Sans, Hack Nerd Font Propo, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(40, 42, 54, 1.0);
    border: none;
    color: #242424;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #BD93F9;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#disk,
#temperature,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    color: #242424;
}

#workspaces {
    color: #FFFFFF;
}

#window {
    color: #FFFFFF;
    margin: 0 0 0 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #0189CC;
}

#battery {
    background-color: #F1FA8C;
}

#battery.charging, #battery.plugged {
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #F1FA8C;
    color: #F53C3C;
}

@keyframes blink {
    to {
        background-color: #F53C3C;
        color: #242424;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #F1FA8C;
    color: #F53C3C;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #FFB86C;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#network {
    background-color: #8BE9FB;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #BD93F9;
}

#pulseaudio.muted {
    background-color: #90b1b1;
}

#custom-power {
    background-color: #AFAFAF;
    padding: 0 8px;
}

#temperature {
    background-color: #44FF69;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #666688;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    background: #6FA69E;
    padding: 0 8px;
    min-width: 40px;
}

#keyboard-state > label {
    font-size: 0;
    padding: 0;
    margin: 0;
}

#keyboard-state > label.locked {
    background: #e8463A;
    color: #242424;
    padding: 0 8px;
    min-width: 16px;
    font-size: 16px;
}

#disk {
    background: #FEC7CD;
}

#custom-separator {
    margin: 0 2px;
    color: #FFFFFF;
}
