configuration {
	modes:          "window,drun,run,ssh,calc";
    display-run:    "";
    display-window: "";
    display-ssh:    "📡";
    display-calc:   "🧮";
    display-drun:   "";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@import "~/.config/rofi/theme/colors.rasi"
@import "~/.config/rofi/theme/general.rasi"
@import "~/.config/rofi/theme/mainbox.rasi"
@import "~/.config/rofi/theme/window.rasi"

* {
    element-padding:    30px 40px;
    element-size:       125px;
}

window {
    width:              810px;
    height:             270px;
}

mainbox {
    children:           [ "inputbar", "listview" ];
}
